body{
  background-color: #19191A;
}

.logo {
  width: 400px;
  cursor: pointer;
  margin-right: 145px;
}
#sign {
width: 100%;
opacity: 30%;
padding-bottom: 15px;
}
#create {
  width: 100%;
  opacity: 30%;
  padding-bottom: 15px;
}
#find {
  width: 100%;
  opacity: 30%;
}

header {
  background-color: #F16F14;
  display: flex;
  align-items: center;
  max-height: 85px;
}

footer {
  background-color: #F16F14;
  padding-top: 1px;
  padding-bottom: 1px;
  font-family: "roboto";
  font-size: 17px;
}

.nav-links {
list-style: none;
display: inline-block;
}

/* .shiftnav2 {
display: flex;
flex-direction: column;
justify-content: center;
}

.shiftnav {
  display: flex;
  flex-direction: row;
  justify-content: center;
} */

li, a {
  font-family: "roboto" ;
  font-size: 25px;
  color:black;
  text-decoration: none;
}

li {
  display: inline-block;
  padding: 0px 25px;
}

li, a:hover {
color: white;
}
